{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

	<head></head>

	<body>

		<div class="container car-container">
			<h2 class="text-center mb-4">Our Cars</h2>

			<div
				class="row">
				<!-- Car 1 -->
				<div class="col-md-4">
					<div class="card car-card">
						<img src="car1.jpg" class="card-img-top" alt="Car 1">
						<div class="card-body">
							<h5 class="card-title">Car Model 1</h5>
							<p class="card-text">Description of the car. Features and specifications.</p>
							<a href="#" class="btn btn-primary">Rent Now</a>
						</div>
					</div>
				</div>

				<!-- Car 2 -->
				<div class="col-md-4">
					<div class="card car-card">
						<img src="car2.jpg" class="card-img-top" alt="Car 2">
						<div class="card-body">
							<h5 class="card-title">Car Model 2</h5>
							<p class="card-text">Description of the car. Features and specifications.</p>
							<a href="#" class="btn btn-primary">Rent Now</a>
						</div>
					</div>
				</div>

				<!-- Add more cars as needed -->

			</div>
		</div>


	</body>

</html>

{% endblock %}